@import 
url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    background-color: #87ceeb;
}

.firstwing {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
}

.firstinefeather {
    transition-duration: 3s;
}

.secondlinefeather {
    transition-duration: 3s;
}

.thirdlinefeather {
    transition-duration: 3s;
}

.fourthlinefeather {
    transition-duration: 3s;
}

.firstlinefeather:hover {
    transform: translate(100px, 100px);
    transition-duration: 3s;
    animation-fill-mode:;
}

.secondlinefeather:hover {
    transform: translate(200px,200px);
    transition-duration: 3s;
    animation-fill-mode: forwards;
}

.thirdlinefeather:hover {
    transform: translate(300px, 300px);
    transition-duration: 3s;
    animation-fill-mode: forwards;
}

.fourthlinefeather:hover {
    transform: translate(400px, 400px);
    transition-duration: 3s;
    animation-fill-mode: forwards;
}